/P2/Practica2/nbproject/private/
/P2/Practica2/build/
/P2/JavaApplication2/nbproject/private/
/P2/JavaApplication2/build/
/P2/p2.2/nbproject/private/
/P2/p2.2/build/
/P2/pr/nbproject/private/
/P2/pr/build/
/P2/pr/dist/
/P2/Ejer3_1/nbproject/private/
/P2/Ejer3_1/dist/
/P2/Ejer3_1/build/
/P2/Ejer4/dist/
/P2/Ejer4/build/
/P2/Ejer5/nbproject/private/
/P2/Ejer5/dist/
/P2/Ejer5/build/
/TicToe/nbproject/private/
/TicToe/build/
